fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
sqlalchemy==2.0.35
psycopg2-binary==2.9.9
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
groq>=0.9.0
langfuse>=2.7.0
python-docx==1.1.2
pytesseract==0.3.13
Pillow==10.4.0
python-dotenv==1.0.1
httpx>=0.23.0,<1.0.0
pydantic[email]==2.9.1
pydantic-core==2.23.3
langdetect==1.0.9
 